.Header {
    position: fixed;
    top: 0;
    width: 220px;
    height: 100%;
    background: #f9f9f9;
}

.Header h1 {
    position: relative;
    height: 20%;
    width: 180px;
    margin: 50px 0 0 10px;
}

.Header ul {
    padding: 0 40px 0 0;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
}

.Header ul li {
    margin: 0 0 10px 0;
}

.Header .snb {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
}

.FullPage {
    position: relative;
}

.mainimg {
    padding: 0 0 0 220px;
    width: 100%;
    height: 100vh;
}

.full-page-controls {
    display: none;
}

.Main_product {
    position: relative;
}

.Main_product ul {
    padding: 0 0 0 220px;
}


.Main_product li img {
    width: 100px;
    height: 200px;
}